<div class="container-fluid">
  <h2 class="text-center">All Products</h2>
  <div class="row justify-content-end">
    <button
      class="btn btn-primary my-2 mr-0 col-1 ms-2"
      routerLink="../add-new-product"
    >
      Add New Product
    </button>
  </div>

  <div *ngIf="allProducts.length; else noProducts">
    <table class="table table-bordered text-center table-hover">
      <thead>
        <tr>
          <th scope="col">Sr.No</th>
          <th scope="col">Product Id</th>
          <th scope="col">Name</th>
          <th scope="col">Price</th>
          <th scope="col">Quantity</th>
          <th scope="col">Category</th>
          <th scope="col">Description</th>
          <th scope="col">Image Url</th>
          <th scope="col">Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let product of allProducts; let i = index">
          <td>{{ i + 1 }}</td>
          <td>{{ product.id }}</td>
          <td>{{ product.name }}</td>
          <td>{{ product.price | currency }}</td>
          @if( product.quantity <= 0 ){

          <td class="text-danger">Out of Stock</td>
          }@else if(product.quantity > 0 && product.quantity < 5) {
          <td class="text-warning">{{ product.quantity }}</td>

          }@else {
          <td>{{ product.quantity }}</td>
          }
          <td>{{ product.category }}</td>
          <td style="width: 20%">{{ product.description }}</td>
          <td style="width: 15%">
            <a href="{{ product.imageUrl }}" target="_blank">{{
              product.imageUrl
            }}</a>
          </td>

          <td>
            <button
              class="btn btn-primary"
              data-bs-toggle="modal"
              data-bs-target="#exampleModal"
              (click)="editProduct(product)"
            >
              Edit
            </button>
            <button
              class="btn btn-danger ms-2"
              (click)="deleteProduct(product)"
            >
              Delete
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <ng-template #noProducts>
    <div class="text-warning text-center mt-4">
      <h4>No users found.</h4>
    </div>
  </ng-template>

  <app-edit-product
    [product]="toBeEdited"
    (updatedProduct)="handleUpdatedProduct($event)"
  ></app-edit-product>
</div>
