<div class="d-flex flex-column min-vh-100">
  <!-- Navbar -->
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Ecommerce Store</a>
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarScroll"
        aria-controls="navbarScroll"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarScroll">
        <ul
          class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll"
          style="--bs-scroll-height: 100px"
        >
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Shop</a>
          </li>

          <!-- <li class="nav-item">
          <a class="nav-link" href="#">Cart</a>
        </li> -->
          <!-- Drop Down -->
          <!-- <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            id="navbarScrollingDropdown"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            Link
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarScrollingDropdown">
            <li><a class="dropdown-item" href="#">Action</a></li>
            <li><a class="dropdown-item" href="#">Another action</a></li>
            <li><hr class="dropdown-divider" /></li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#" tabindex="-1" aria-disabled="true"
            >Checkout</a
          >
        </li> -->
        </ul>

        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="signup"
              >Sign Up</a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="login"
              >Login</a
            >
          </li>
        </ul>
        <form class="d-flex">
          <button class="btn btn-danger" type="submit" (click)="logOut()">
            Log Out
          </button>
        </form>
      </div>
    </div>
  </nav>
  Stored User:
  {{ storedUser | json }}
  <div class="p-2 m-3 flex-fill">
    <router-outlet></router-outlet>
  </div>

  <footer class="text-center bg-body-tertiary mt-auto">
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.05)">
      © 2020 Copyright:
      <a class="text-body" href="#">Ahmed Mujtaba</a>
    </div>
  </footer>
</div>
