<div class="container">
  <div *ngIf="allUsers.length; else noUsers">
    <h2 class="text-center">All Users</h2>
    <table class="table table-bordered text-center table-hover">
      <thead>
        <tr>
          <th scope="col">Sr.No</th>
          <th scope="col">Name</th>
          <th scope="col">Email</th>
          <th scope="col">Role</th>
          <th scope="col">Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let user of allUsers; let i = index">
          <td>{{ i + 1 }}</td>
          <td>{{ user.name }}</td>
          <td>{{ user.email }}</td>
          <td
            [ngClass]="
              user.role == 'admin' || user.role == 'Admin'
                ? 'text-success fw-bold'
                : 'text-secondary'
            "
          >
            {{ user.role }}
          </td>
          <td>
            <button class="btn btn-primary" (click)="editUser(user)">
              Edit
            </button>
            <button class="btn btn-danger ms-2" (click)="deleteUser(user)">
              Delete
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <ng-template #noUsers>
    <div class="text-warning text-center mt-4">
      <h4>No users found.</h4>
    </div>
  </ng-template>
</div>
