<h3 class="text-center mt-2">Sign Up</h3>
<div class="row justify-content-start m-3">
  <div class="col-12 col-md-6">
    <form [formGroup]="signUpForm">
      <div class="mb-3">
        <label for="name" class="form-label">Name</label>
        <input
          type="email"
          class="form-control"
          id="name"
          aria-describedby="emailHelp"
          formControlName="name"
        />
      </div>

      <div class="mb-3">
        <label for="email" class="form-label">Email</label>
        <input
          type="email"
          class="form-control"
          id="email"
          formControlName="email"
        />
      </div>

      <div class="mb-3">
        <label for="password" class="form-label">Password</label>
        <input
          type="password"
          class="form-control"
          id="password"
          formControlName="password"
        />
      </div>

      <div class="mb-3">
        <label for="userRole" class="form-label">Select Role</label>
        <select
          id="userRole"
          formControlName="role"
          class="form-select"
          aria-label="Default select example"
        >
          <option value=""></option>
          <option value="user">User</option>
          <option value="admin">Admin</option>
        </select>
      </div>
      <div class="row align-items-center justify-content-center">
        <div class="col-4">
          <button
            (click)="signup($event)"
            [disabled]="signUpForm.invalid"
            class="btn btn-primary col-12"
          >
            Sign Up
          </button>
        </div>
        <div class="col-4">
          <button
            type="reset"
            (click)="this.signUpForm.reset()"
            class="btn btn-secondary col-12"
          >
            Reset
          </button>
        </div>
      </div>
      <div>Already a user <a routerLink="/login">Login</a></div>
    </form>
  </div>
</div>

<!-- Error Block -->
@if(signUpForm.touched && signUpForm.invalid){
<div class="row m-4 p-1 text-danger">
  <div class="row">
    <span class="text-xl fw-bold fs-2">Errors:</span>
  </div>
  <ul>
    <!-- Name validation -->
    @if(signUpForm.controls['name'].touched &&
    signUpForm.controls['name'].errors?.['required']){

    <li><span>Name requrired</span></li>
    } @if(signUpForm.controls['name'].touched &&
    signUpForm.controls['name'].errors?.['minlength']){
    <li><span>Name should be 3 characters long </span></li>
    }

    <!-- Email validation -->
    @if(signUpForm.controls['email'].touched &&
    signUpForm.controls['email'].errors?.['required']){
    <li><span>Email requrired</span></li>

    } @if(signUpForm.controls['email'].touched &&
    signUpForm.controls['email'].errors?.['email']){
    <li><span>Invalid Email</span></li>
    }

    <!-- Password validation -->
    @if(signUpForm.controls['password'].touched ){ @if(
    signUpForm.controls['password'].errors?.['required']) {
    <li>Password required</li>
    } @if(signUpForm.controls['password'].errors?.['minlength']){
    <li>Password must be of 8 characters</li>
    } }

    <!-- User role Validation -->
    @if(signUpForm.controls['role'].touched ){ @if(
    signUpForm.controls['role'].errors?.['required']) {
    <li>Please select a role</li>
    }}
  </ul>
</div>
}
